mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				.col.col-md-6.col-lg-2
					+img(src="img/logo.svg", alt="").logo
				.col.col-md-6.col-lg-4
					.contacts
						p Copyright © 2024 Название компании
						p ИНН: 123456789111
						p ОГРНИП: 1110987654321
				.col-12.col-md-auto
					.socail-media
						.fw-600 Мы в соцсетях:
						.socail-icons
							+e.link(href='#') Telegram
								+icon('telegram')
							+e.link(href='#') WhatsApp
								+icon('whatsapp')
				.col-12.col-md-auto
					+e.phone.btn-link.fw-700(href='tel:+88003025648')
						+icon('phone-sm')
						| 8-800-302-56-48