mixin sProductSlider(data)
	// start sProductSlider
	+b.SECTION.sProductSlider.section#sProductSlider&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sProductSlider
				
			+e.row.row
	// end sProductSlider