mixin sProductSlider(data)
	// start sProductSlider
	+b.SECTION.sProductSlider--another-dark.section#sProductSlider&attributes(attributes)
		.container
			+b.section-title
				h2 Газонокосилки
			.tabs
				+e.swiper--js
					+e.row.tabs__caption.swiper-wrapper
						.tabs__btn.active.swiper-slide
							+slide('1')
						.tabs__btn.swiper-slide
							+slide('2')
						.tabs__btn.swiper-slide
							+slide('3')
						.tabs__btn.swiper-slide
							+slide('4')
						.tabs__btn.swiper-slide
							+slide('2')
						.tabs__btn.swiper-slide
							+slide('3')
						.tabs__btn.swiper-slide
							+slide('4')
				.tabs__content.active
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-1.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Газонокосилка бензиновая самоходная <br>Yanis Borasco B43F
						ul
							li Рекомендуется для участка площадью:3-10 соток
							li Материал деки:Сталь
							li Материал травосборника:Ткань
							li Ширина кошения:430 мм.
							li Объём травосборника:40 л
						+e.descr Бензиновая не самоходная газонокосилка #[span Yanis Borasco B43F] — модель наиболее подходящая для использования на небольшом дачном участке площадью 6-10 соток.<br>Модель сочетает в себе мощность бензинового двигателя и жесткость стальной конструкции. Для долговечности использования, колёса газонокосилки вращаются на шарикоподшипниках, а для удобства хранения, газонокосилка имеет складную ручку с рычажным креплением.<br>Газонокосилки имеет приличный вес для своего класса, что позволяет оставить за собой ровною плоскость стриженного газона в отличии и лёгких одноклассников с пластиковой конструкцией.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-2.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Газонокосилка бензиновая самоходная <br>Yanis Borasco B43FB43FB
						ul
							li Рекомендуется для участка площадью:3-10 соток
							li Материал деки:Сталь
							li Материал травосборника:Ткань
							li Ширина кошения:430 мм.
							li Объём травосборника:40 л
						+e.descr Бензиновая не самоходная газонокосилка #[span Yanis Borasco B43F] — модель наиболее подходящая для использования на небольшом дачном участке площадью 6-10 соток.<br>Модель сочетает в себе мощность бензинового двигателя и жесткость стальной конструкции. Для долговечности использования, колёса газонокосилки вращаются на шарикоподшипниках, а для удобства хранения, газонокосилка имеет складную ручку с рычажным креплением.<br>Газонокосилки имеет приличный вес для своего класса, что позволяет оставить за собой ровною плоскость стриженного газона в отличии и лёгких одноклассников с пластиковой конструкцией.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-3.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Газонокосилка бензиновая <br>Yanis Borasco B43F
						ul
							li Рекомендуется для участка площадью:3-10 соток
							li Материал деки:Сталь
							li Материал травосборника:Ткань
							li Ширина кошения:430 мм.
							li Объём травосборника:40 л
						+e.descr Бензиновая не самоходная газонокосилка #[span Yanis Borasco B43F] — модель наиболее подходящая для использования на небольшом дачном участке площадью 6-10 соток.<br>Модель сочетает в себе мощность бензинового двигателя и жесткость стальной конструкции. Для долговечности использования, колёса газонокосилки вращаются на шарикоподшипниках, а для удобства хранения, газонокосилка имеет складную ручку с рычажным креплением.<br>Газонокосилки имеет приличный вес для своего класса, что позволяет оставить за собой ровною плоскость стриженного газона в отличии и лёгких одноклассников с пластиковой конструкцией.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-4.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Газонокосилка самоходная <br>Yanis Borasco B43F
						ul
							li Рекомендуется для участка площадью:3-10 соток
							li Материал деки:Сталь
							li Материал травосборника:Ткань
							li Ширина кошения:430 мм.
							li Объём травосборника:40 л
						+e.descr Бензиновая не самоходная газонокосилка #[span Yanis Borasco B43F] — модель наиболее подходящая для использования на небольшом дачном участке площадью 6-10 соток.<br>Модель сочетает в себе мощность бензинового двигателя и жесткость стальной конструкции. Для долговечности использования, колёса газонокосилки вращаются на шарикоподшипниках, а для удобства хранения, газонокосилка имеет складную ручку с рычажным креплением.<br>Газонокосилки имеет приличный вес для своего класса, что позволяет оставить за собой ровною плоскость стриженного газона в отличии и лёгких одноклассников с пластиковой конструкцией.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-2.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Газонокосилка бензиновая самоходная <br>Yanis Borasco Borasco
						ul
							li Рекомендуется для участка площадью:3-10 соток
							li Материал деки:Сталь
							li Материал травосборника:Ткань
							li Ширина кошения:430 мм.
							li Объём травосборника:40 л
						+e.descr Бензиновая не самоходная газонокосилка #[span Yanis Borasco B43F] — модель наиболее подходящая для использования на небольшом дачном участке площадью 6-10 соток.<br>Модель сочетает в себе мощность бензинового двигателя и жесткость стальной конструкции. Для долговечности использования, колёса газонокосилки вращаются на шарикоподшипниках, а для удобства хранения, газонокосилка имеет складную ручку с рычажным креплением.<br>Газонокосилки имеет приличный вес для своего класса, что позволяет оставить за собой ровною плоскость стриженного газона в отличии и лёгких одноклассников с пластиковой конструкцией.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-3.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Газонокосилка бензиновая самоходная <br>Yanis Borasco B43F Borasco B43F
						ul
							li Рекомендуется для участка площадью:3-10 соток
							li Материал деки:Сталь
							li Материал травосборника:Ткань
							li Ширина кошения:430 мм.
							li Объём травосборника:40 л
						+e.descr Бензиновая не самоходная газонокосилка #[span Yanis Borasco B43F] — модель наиболее подходящая для использования на небольшом дачном участке площадью 6-10 соток.<br>Модель сочетает в себе мощность бензинового двигателя и жесткость стальной конструкции. Для долговечности использования, колёса газонокосилки вращаются на шарикоподшипниках, а для удобства хранения, газонокосилка имеет складную ручку с рычажным креплением.<br>Газонокосилки имеет приличный вес для своего класса, что позволяет оставить за собой ровною плоскость стриженного газона в отличии и лёгких одноклассников с пластиковой конструкцией.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-4.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Газонокосилка бензиновая самоходная <br>Yanis Borasco B43F
						ul
							li Рекомендуется для участка площадью:3-10 соток
							li Материал деки:Сталь
							li Материал травосборника:Ткань
							li Ширина кошения:430 мм.
							li Объём травосборника:40 л
						+e.descr Бензиновая не самоходная газонокосилка #[span Yanis Borasco B43F] — модель наиболее подходящая для использования на небольшом дачном участке площадью 6-10 соток.Модель сочетает в себе мощность бензинового двигателя и жесткость стальной конструкции. Для долговечности использования, колёса газонокосилки вращаются на шарикоподшипниках, а для удобства хранения, газонокосилка имеет складную ручку с рычажным креплением.Газонокосилки имеет приличный вес для своего класса, что позволяет оставить за собой ровною плоскость стриженного газона в отличии и лёгких одноклассников с пластиковой конструкцией.
						+e.btn.btn.btn-primary заказать модель
	// end sProductSlider


mixin slide(i)
	+b.slide-item
		+img(`img/prod-slider-${i}.png`, alt="")

mixin sProductSlider2(data)
	// start sProductSlider
	+b.SECTION.sProductSlider--wide.section#sProductSlider2&attributes(attributes)
		.container
			+b.section-title
				h2 ТРИММЕРЫ
			.tabs
				+e.swiper--js
					+e.row.tabs__caption.swiper-wrapper
						.tabs__btn.active.swiper-slide
							+slide('5')
						.tabs__btn.swiper-slide
							+slide('6')
						.tabs__btn.swiper-slide
							+slide('7')
						.tabs__btn.swiper-slide
							+slide('8')
						.tabs__btn.swiper-slide
							+slide('6')
						.tabs__btn.swiper-slide
							+slide('7')
						.tabs__btn.swiper-slide
							+slide('8')
				.tabs__content.active
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-5.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Триммер аккумуляторный<br>Yanis Violet AGT12V
						ul
							li Рекомендуется для участка площадью:Менее 1 соток
							li Ширина кошения диском:260 мм.
							li Штанга:Телескопическая
							li Габариты упаковки:89х15х15 мм.
							li Тип вала:Гнутый
						+e.descr Садовый аккумуляторный триммер Yanis Violet AGT12V - предназначен для подкашивания молодого газона на клумбах, вдоль заборов, подравнивания газонов, краев садовых дорожек. Триммер оснащен телескопической штангой и дополнительной рукояткой удобного хвата для комфортной работы.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-6.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Триммер аккумуляторный<br>Yanis Violet AGT12V
						ul
							li Рекомендуется для участка площадью:Менее 1 соток
							li Ширина кошения диском:260 мм.
							li Штанга:Телескопическая
							li Габариты упаковки:89х15х15 мм.
							li Тип вала:Гнутый
						+e.descr Садовый аккумуляторный триммер Yanis Violet AGT12V - предназначен для подкашивания молодого газона на клумбах, вдоль заборов, подравнивания газонов, краев садовых дорожек. Триммер оснащен телескопической штангой и дополнительной рукояткой удобного хвата для комфортной работы.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-7.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Триммер аккумуляторный<br>Yanis Violet AGT12V
						ul
							li Рекомендуется для участка площадью:Менее 1 соток
							li Ширина кошения диском:260 мм.
							li Штанга:Телескопическая
							li Габариты упаковки:89х15х15 мм.
							li Тип вала:Гнутый
						+e.descr Садовый аккумуляторный триммер Yanis Violet AGT12V - предназначен для подкашивания молодого газона на клумбах, вдоль заборов, подравнивания газонов, краев садовых дорожек. Триммер оснащен телескопической штангой и дополнительной рукояткой удобного хвата для комфортной работы.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-8.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Триммер аккумуляторный<br>Yanis Violet AGT12V
						ul
							li Рекомендуется для участка площадью:Менее 1 соток
							li Ширина кошения диском:260 мм.
							li Штанга:Телескопическая
							li Габариты упаковки:89х15х15 мм.
							li Тип вала:Гнутый
						+e.descr Садовый аккумуляторный триммер Yanis Violet AGT12V - предназначен для подкашивания молодого газона на клумбах, вдоль заборов, подравнивания газонов, краев садовых дорожек. Триммер оснащен телескопической штангой и дополнительной рукояткой удобного хвата для комфортной работы.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-6.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Триммер аккумуляторный<br>Yanis Violet AGT12V
						ul
							li Рекомендуется для участка площадью:Менее 1 соток
							li Ширина кошения диском:260 мм.
							li Штанга:Телескопическая
							li Габариты упаковки:89х15х15 мм.
							li Тип вала:Гнутый
						+e.descr Садовый аккумуляторный триммер Yanis Violet AGT12V - предназначен для подкашивания молодого газона на клумбах, вдоль заборов, подравнивания газонов, краев садовых дорожек. Триммер оснащен телескопической штангой и дополнительной рукояткой удобного хвата для комфортной работы.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-7.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Триммер аккумуляторный<br>Yanis Violet AGT12V
						ul
							li Рекомендуется для участка площадью:Менее 1 соток
							li Ширина кошения диском:260 мм.
							li Штанга:Телескопическая
							li Габариты упаковки:89х15х15 мм.
							li Тип вала:Гнутый
						+e.descr Садовый аккумуляторный триммер Yanis Violet AGT12V - предназначен для подкашивания молодого газона на клумбах, вдоль заборов, подравнивания газонов, краев садовых дорожек. Триммер оснащен телескопической штангой и дополнительной рукояткой удобного хвата для комфортной работы.
						+e.btn.btn.btn-primary заказать модель
				.tabs__content
					+e.img-wrap.bg-wrap
						+img("img/prod-slider-8.png", 'bg')
					+e.content
						+img(src="img/grass-gr.svg", alt="").img
						+img(src="img/grass-gr2.svg", alt="").img.img-right
						h3 Триммер аккумуляторный<br>Yanis Violet AGT12V
						ul
							li Рекомендуется для участка площадью:Менее 1 соток
							li Ширина кошения диском:260 мм.
							li Штанга:Телескопическая
							li Габариты упаковки:89х15х15 мм.
							li Тип вала:Гнутый
						+e.descr Садовый аккумуляторный триммер Yanis Violet AGT12V - предназначен для подкашивания молодого газона на клумбах, вдоль заборов, подравнивания газонов, краев садовых дорожек. Триммер оснащен телескопической штангой и дополнительной рукояткой удобного хвата для комфортной работы.
						+e.btn.btn.btn-primary заказать модель