
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)
				+input("Ваше телефон",'tel')(required)
				+input("Ваше телефон",'tel')(required)
				+e.BUTTON.btn.btn(type="submit"  ) submit
				+policy()
				+policy()
	// #modal-call
	+b.modal-reviews.bg-wrap(id="modal-reviews" style="display: none")
		.h3 Оставить отзыв
		+e.stars
			p Оценка
			.rating__group
				input#mood-1.rating__input(type='radio' name='mood' value='1')
				label.rating__star(for='mood-1' aria-label='Ужасно')
				input#mood-2.rating__input(type='radio' name='mood' value='2')
				label.rating__star(for='mood-2' aria-label='Сносно')
				input#mood-3.rating__input(type='radio' name='mood' value='3' checked='')
				label.rating__star(for='mood-3' aria-label='Нормально')
				input#mood-4.rating__input(type='radio' name='mood' value='4')
				label.rating__star(for='mood-4' aria-label='Хорошо')
				input#mood-5.rating__input(type='radio' name='mood' value='5')
				label.rating__star(for='mood-5' aria-label='Отлично')
				.rating__focus
		+form-wrap
			+e.row.row
				.col-12
					+input('Опишите достоинства', 'textarea', 'Достоинства')
				.col-12
					+input('Опишите недостатки', 'textarea', 'Недостатки')
				+e.col.col-12
					+input('Ваше общее впечатление', 'textarea', 'Общее впечатление')
				.col-12
					+input('Ваше имя', 'text')
				.col-12
					+input('Ваш телефон', 'tel')
				.col-12
					+input('Ваша электронная почта', 'email')
				.col-lg-auto
					+e.btn.btn.btn-primary(type="submit") отправить
				+e.col-text.col-lg
					+policy2
	// end modals