:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}
.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(500);
	// min-height: 100%; 
	padding: 40px;

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}



.fancybox-throwOutUp {
  animation: 0.25s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  animation: 0.25s ease both fancybox-throwOutDown;
}

@keyframes fancybox-throwOutUp {
  from {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }
	
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

}

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
}

.modal-reviews {
	max-width: rem(759);
	color: $white;
  background: $dark;
  padding: rem(20);
  border-radius: rem(15);
  @include media-breakpoint-up(md) {
    padding: rem(50) rem(60);
  }
	.h3 {
		margin-bottom: rem(38);
	}
	&__stars {
		display: flex;
		align-items: center;
		margin-bottom: rem(29);
		p {
			margin-bottom: 0;
			margin-right: rem(18);
		}
	}
	.form-wrap {
		&__row {
			--bs-gutter-y: #{rem(20)};
		}
		&__col {
			margin-bottom: rem(30);
		}
		&__col-text {
			align-self: center;
		}
		&__input-title {
			margin-bottom: rem(9);
			font-size: rem(18);
			display: block;
		}
		&__input {
			&::placeholder {
				color: $input-placeholder-color;
			}
		}
		textarea {
			min-height: rem(136);
		}
		&__btn {
			width: 100%;
			@include media-breakpoint-up(lg) {
				width: rem(255);
			}
		}
		&__text {
			display: flex;
			font-size: rem(13);
			font-weight: 300;
			.icon {
				flex: 0 0 auto;
				margin-right: rem(13);
				font-size: rem(16);
			}
		}
	}
}


.rating {
	margin: 0 0 1em 0;
	padding: 0;
	border: none;

	/* Caption */

	&__caption {
			margin-bottom: 0.5em;
			padding: 0;
	}

	/* Group */

	&__group {
			position: relative;
			width: rem(85);
			height: rem(17);
			background-image: url('../img/svg/star-off.svg');
			background-size: rem(17);
			background-repeat: repeat-x;
	}

	/* Input */

	&__input {
			position: absolute;
			width: 1px;
			height: 1px;
			overflow: hidden;
			clip: rect(0 0 0 0);
	}

	&__input:focus ~ &__focus {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			outline: 0.2em solid #4a90e2;
			outline-offset: 0.2em;
	}

	/* Star */

	&__star {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			height: rem(17);
			background-size: rem(17);
			background-repeat: repeat-x;
			margin-right: 1px;
	}

	&__star:hover,
	&__input:checked + &__star {
			background-image: url('../img/svg/star-on.svg');
	}

	&__star:hover ~ &__star {
			background-image: url('../img/svg/star-off.svg');
	}

	/* Options */

	&__star:nth-of-type(1) {
			z-index: 5;
			width: rem(17);
	}

	&__star:nth-of-type(2) {
			z-index: 4;
			width: calc(rem(17) * 2);
	}

	&__star:nth-of-type(3) {
			z-index: 3;
			width: calc(rem(17) * 3);
	}

	&__star:nth-of-type(4) {
			z-index: 2;
			width: calc(rem(17) * 4);
	}

	&__star:nth-of-type(5) {
			z-index: 1;
			width: calc(rem(17) * 5);
	}
}