@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	$h: 8;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(88 / #{$h} *1em );
}
.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-cheaper {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(48 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-earth {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(48 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-grass {
	$h: 80;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(80 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-leaf {
	$h: 200;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(200 / #{$h} *1em );
}
.icon-line {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(2 / #{$h} *1em );
}
.icon-phone {
	$h: 32;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(32 / #{$h} *1em );
}
.icon-phone-sm {
	$h: 25;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-plus {
	$h: 40;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(40 / #{$h} *1em );
}
.icon-quality {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(48 / #{$h} *1em );
}
.icon-sunshine {
	$h: 72;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(72 / #{$h} *1em );
}
.icon-telegram {
	$h: 33;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(32 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 33;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(32 / #{$h} *1em );
}
.icon-wheat {
	$h: 42;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(59 / #{$h} *1em );
}
.icon-work-1 {
	$h: 56;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(56 / #{$h} *1em );
}
.icon-work-2 {
	$h: 56;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(56 / #{$h} *1em );
}
.icon-work-3 {
	$h: 56;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(56 / #{$h} *1em );
}
.icon-work-4 {
	$h: 56;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(56 / #{$h} *1em );
}
.icon-work-5 {
	$h: 56;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(56 / #{$h} *1em );
}
.icon-work-6 {
	$h: 56;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(56 / #{$h} *1em );
}
