mixin sFeatures(data)
	// start sFeatures
	+b.SECTION.sFeatures.section#sFeatures&attributes(attributes)
		.container
			+icon('leaf')
			+icon('leaf')
			+icon('leaf')
			.tabs
				+b.section-title
					+img(src="img/tablet.png", alt="")
					.tabs-slider--js1.swiper
						.tabs__caption.swiper-wrapper
							.tabs__btn.swiper-slide Описание
							.tabs__btn.swiper-slide характеристики
							.tabs__btn.swiper-slide.active Особенности
				.tabs__content.descr
					+e.row.row
						+e.col.col-lg-6
							+e.item-colored Мотоблок Yanis Angry II – многофункциональный мотоблок для использования с различными видами дополнительного навесного оборудования. Мотоблок эффективен как с задним навесным оборудованием в виде окучника, плуга, картофелевыкапывателя так и с переднем навесным оборудованием в виде роторной газонокосилки, нож отвал или снегоотбрасывателя.
							+e.item Мотоблок рекомендован для использования на любом типе почвы. <br>К мотоблоку можно приобрести представленные у нас в широком ассортименте навесное оборудование, расходные материалы и приспособления. <br>При покупке мотоблока рекомендуется приобрести две банки моторного масла и две банки трансмиссионного масла.
							+e.item.fw-700 Мотоблок Yanis Angry II -<br>#[span оптимальный выбор дачника!]
						+e.col.col-lg-6
							+e.content
								ul
									li Мотоблок оснащён поворотной рукояткой, позволяющий выставить оптимальную высоту под любой рост пользователя. Ручки рукоятки прорезинены не проскальзывающим материалом.
									li Для работы в тяжелых условиях, в редукторе мотоблока установлена двойная цепь в чугунном корпусе.
									li Мотоблок имеет как заднее прицепное устройство универсального типа, так и переднее для подключения, например роторной газонокосилки.
									li Сцепление мотоблока устроено посредством двух ремней. А для того, чтобы при подключении переднего навесного оборудования не нужно было скидывать один из ремней сцепления, сделан дополнительный шкив под навесное оборудование.
									li В целях сохранения срока службы ремней сцепления, на мотоблоке установлен закрывающий шкив кожух. При необходимости подключения переднего навесного оборудования, защитный кожух легко откручивается.В комплекте с мотоблоком идут мощные разборные фрезы с шириной вспашки до 90 см. и пневмоколёса для использования мотоблока с тележкой.
									li Двигатель на мотоблоке произведён на заводе SENCI. Двигатели данного производителя уже много лет поставляются на российский рынок в комплектации мотоблоков под разными брендами и отличаются внушительным ресурсом и неприхотливостью к нашим условиям.
				.tabs__content.features
					+e.row.row
						- const wrapClass="col-lg-6"
						+e.col(class= wrapClass)
							+feature-line('Рекомендуется для участка площадью:','3-10 соток')
							+feature-line('Материал травосборника:', 'Ткань')
							+feature-line('Рекомендуется для участка площадью:', '3-10 соток')
							+feature-line('Объём травосборника:', '40 л.')
							+feature-line('Привод колёс:', 'Нет')
							+feature-line('Диаметр передних колёс:', '7 "')
							+feature-line('Диаметр задних колёс:', '8 "')
							+feature-line('Шарикоподшипники в колёсах:', 'Да')
							+feature-line('Тип рукоятки:', 'Складная')
							+feature-line('Регулировка высоты кошения:', 'Центральная')
							+feature-line('Высота кошения:', '20-70 мм.')
							+feature-line('Боковой выброс:', 'Нет')
							+feature-line('Коннектор для мойки деки:', 'Нет')
						+e.col(class= wrapClass)
							+feature-line('Материал деки:', 'Сталь')
							+feature-line('Ширина кошения:', '430 мм.')
							+feature-line('Мощность двигателя:', '4 л.с.')
							+feature-line('Рабочий объём двигателя:', '99 см3')
							+feature-line('Диаметр передних колёс:', '7 "')
							+feature-line('Тип двигателя:', 'Бензиновый 4Т')
							+feature-line('Тип запуска:', 'Ручной стартер')
							+feature-line('Производитель двигателя:', 'TEAMAX')
							+feature-line('Экологический класс двигателя:', 'Euro II')
							+feature-line('Ёмкость топливного бака:', '68х51х43 мм.')
							+feature-line('Вес нетто:', '22 кг.')
				.tabs__content.unics.active
					+e.row.row.shadow-item
						- const wrapClass="col-md-6 col-xl-3"
						+e.col(class= wrapClass)
							+feature-item('1', 'Обрезиненная рукоятка', 'Обрезиненная рукоятка гарантирует крепкий хват и снижает скольжение руки при работе.')
						+e.col(class= wrapClass)
							+feature-item('3', 'Комфорт', 'Воздуходувка оснащена разборной выпускной трубой.')
						+e.col(class= wrapClass)
							+feature-item('4', 'Прорезиненные ножки', 'Предусмотрены прорезиненные ножки для установки на горизонтальных поверхностях.')
						+e.col(class= wrapClass)
							+feature-item('2', 'Мощный двигатель', 'Мощный 2-х тактный двигатель обеспечивает высокую производительность - 650 м3 воздуха в час.')
	// end sFeatures

mixin feature-line(title, value)
	+b.feature-line
		+e.header!= title
		+e.dash
		+e.span.fw-600!= value

mixin feature-item(i, t, p)
	+b.feature-item
		+e.img-wrap.bg-wrap
			+img(`img/feature-item-${i}.png`, 'bg').img
			+img('img/icon-plus.png').icon-plus
		+e.caption
			+e.title.fw-700!= t
			+e.text!= p

mixin feature-item-grass(i, t)
	+b.feature-item
		+e.img-wrap.bg-wrap
			+img(`img/feature-item-${i}.png`, 'bg').img
			+img('img/icon-plus.png').icon-plus
			+icon(`grass`)
		+e.caption
			+e.title.fw-700!= t

mixin sFeatures2(data)
	// start sFeatures
	+b.SECTION.sFeatures--slider.slider-1.section#sFeatures2&attributes(attributes)
		.container
			.tabs
				+b.section-title
					+img(src="img/tablet.png", alt="")
					.tabs-slider--js2.swiper
						.tabs__caption.swiper-wrapper
							.tabs__btn.swiper-slide Описание
							.tabs__btn.swiper-slide характеристики
							.tabs__btn.swiper-slide.active Особенности
				.tabs__content.descr
					+e.row.row
						+e.col.col-lg-6
							+e.item-colored Мотоблок Yanis Angry II – многофункциональный мотоблок для использования с различными видами дополнительного навесного оборудования. Мотоблок эффективен как с задним навесным оборудованием в виде окучника, плуга, картофелевыкапывателя так и с переднем навесным оборудованием в виде роторной газонокосилки, нож отвал или снегоотбрасывателя.
							+e.item Мотоблок рекомендован для использования на любом типе почвы. <br>К мотоблоку можно приобрести представленные у нас в широком ассортименте навесное оборудование, расходные материалы и приспособления. <br>При покупке мотоблока рекомендуется приобрести две банки моторного масла и две банки трансмиссионного масла.
							+e.item.fw-700 Мотоблок Yanis Angry II -<br>#[span оптимальный выбор дачника!]
						+e.col.col-lg-6
							+e.content
								ul
									li Мотоблок оснащён поворотной рукояткой, позволяющий выставить оптимальную высоту под любой рост пользователя. Ручки рукоятки прорезинены не проскальзывающим материалом.
									li Для работы в тяжелых условиях, в редукторе мотоблока установлена двойная цепь в чугунном корпусе.
									li Мотоблок имеет как заднее прицепное устройство универсального типа, так и переднее для подключения, например роторной газонокосилки.
									li Сцепление мотоблока устроено посредством двух ремней. А для того, чтобы при подключении переднего навесного оборудования не нужно было скидывать один из ремней сцепления, сделан дополнительный шкив под навесное оборудование.
									li В целях сохранения срока службы ремней сцепления, на мотоблоке установлен закрывающий шкив кожух. При необходимости подключения переднего навесного оборудования, защитный кожух легко откручивается.В комплекте с мотоблоком идут мощные разборные фрезы с шириной вспашки до 90 см. и пневмоколёса для использования мотоблока с тележкой.
									li Двигатель на мотоблоке произведён на заводе SENCI. Двигатели данного производителя уже много лет поставляются на российский рынок в комплектации мотоблоков под разными брендами и отличаются внушительным ресурсом и неприхотливостью к нашим условиям.
				.tabs__content.features
					+e.row.row
						- const wrapClass="col-lg-6"
						+e.col(class= wrapClass)
							+feature-line('Рекомендуется для участка площадью:','3-10 соток')
							+feature-line('Материал травосборника:', 'Ткань')
							+feature-line('Рекомендуется для участка площадью:', '3-10 соток')
							+feature-line('Объём травосборника:', '40 л.')
							+feature-line('Привод колёс:', 'Нет')
							+feature-line('Диаметр передних колёс:', '7 "')
							+feature-line('Диаметр задних колёс:', '8 "')
							+feature-line('Шарикоподшипники в колёсах:', 'Да')
							+feature-line('Тип рукоятки:', 'Складная')
							+feature-line('Регулировка высоты кошения:', 'Центральная')
							+feature-line('Высота кошения:', '20-70 мм.')
							+feature-line('Боковой выброс:', 'Нет')
							+feature-line('Коннектор для мойки деки:', 'Нет')
						+e.col(class= wrapClass)
							+feature-line('Материал деки:', 'Сталь')
							+feature-line('Ширина кошения:', '430 мм.')
							+feature-line('Мощность двигателя:', '4 л.с.')
							+feature-line('Рабочий объём двигателя:', '99 см3')
							+feature-line('Диаметр передних колёс:', '7 "')
							+feature-line('Тип двигателя:', 'Бензиновый 4Т')
							+feature-line('Тип запуска:', 'Ручной стартер')
							+feature-line('Производитель двигателя:', 'TEAMAX')
							+feature-line('Экологический класс двигателя:', 'Euro II')
							+feature-line('Ёмкость топливного бака:', '68х51х43 мм.')
							+feature-line('Вес нетто:', '22 кг.')
				.tabs__content.active.unics
					+e.swiper--js
						+e.row.swiper-wrapper
							- const wrapClass="swiper-slide"
							+e.col(class= wrapClass)
								+feature-item-grass('5', 'Держатель смартфона')
							+e.col(class= wrapClass)
								+feature-item('6', 'Подстаканники на две бутылки воды')
							+e.col(class= wrapClass)
								+b.feature-item.right
									+e.img-wrap.bg-wrap
										+img(`img/feature-item-7.png`, 'bg').img
										+img('img/icon-plus.png').icon-plus
										+icon(`grass`)
									+e.caption
										+e.title.fw-700 Боковой выброс
							+e.col(class= wrapClass)
								+feature-item('8', 'Пластиковый травосборник')
							+e.col(class= wrapClass)
								+feature-item('9', 'Штуцер для мойки деки')
							+e.col(class= wrapClass)
								+feature-item-grass('10', 'Индикатор заполненности травосборника')
							+e.col(class= wrapClass)
								+feature-item('11', 'Складная рукоятка')
	// end sFeatures

mixin sFeatures3(data)
	// start sFeatures
	+b.SECTION.sFeatures--slider.slider-2.section#sFeatures3&attributes(attributes)
		.container
			.tabs
				+b.section-title
					+img(src="img/tablet.png", alt="")
					.tabs-slider--js3.swiper
						.tabs__caption.swiper-wrapper
							.tabs__btn.swiper-slide Описание
							.tabs__btn.swiper-slide характеристики
							.tabs__btn.swiper-slide.active Особенности
				.tabs__content.descr
					+e.row.row
						+e.col.col-lg-6
							+e.item-colored Мотоблок Yanis Angry II – многофункциональный мотоблок для использования с различными видами дополнительного навесного оборудования. Мотоблок эффективен как с задним навесным оборудованием в виде окучника, плуга, картофелевыкапывателя так и с переднем навесным оборудованием в виде роторной газонокосилки, нож отвал или снегоотбрасывателя.
							+e.item Мотоблок рекомендован для использования на любом типе почвы. <br>К мотоблоку можно приобрести представленные у нас в широком ассортименте навесное оборудование, расходные материалы и приспособления. <br>При покупке мотоблока рекомендуется приобрести две банки моторного масла и две банки трансмиссионного масла.
							+e.item.fw-700 Мотоблок Yanis Angry II -<br>#[span оптимальный выбор дачника!]
						+e.col.col-lg-6
							+e.content
								ul
									li Мотоблок оснащён поворотной рукояткой, позволяющий выставить оптимальную высоту под любой рост пользователя. Ручки рукоятки прорезинены не проскальзывающим материалом.
									li Для работы в тяжелых условиях, в редукторе мотоблока установлена двойная цепь в чугунном корпусе.
									li Мотоблок имеет как заднее прицепное устройство универсального типа, так и переднее для подключения, например роторной газонокосилки.
									li Сцепление мотоблока устроено посредством двух ремней. А для того, чтобы при подключении переднего навесного оборудования не нужно было скидывать один из ремней сцепления, сделан дополнительный шкив под навесное оборудование.
									li В целях сохранения срока службы ремней сцепления, на мотоблоке установлен закрывающий шкив кожух. При необходимости подключения переднего навесного оборудования, защитный кожух легко откручивается.В комплекте с мотоблоком идут мощные разборные фрезы с шириной вспашки до 90 см. и пневмоколёса для использования мотоблока с тележкой.
									li Двигатель на мотоблоке произведён на заводе SENCI. Двигатели данного производителя уже много лет поставляются на российский рынок в комплектации мотоблоков под разными брендами и отличаются внушительным ресурсом и неприхотливостью к нашим условиям.
				.tabs__content.features
					+e.row.row
						- const wrapClass="col-lg-6"
						+e.col(class= wrapClass)
							+feature-line('Рекомендуется для участка площадью:','3-10 соток')
							+feature-line('Материал травосборника:', 'Ткань')
							+feature-line('Рекомендуется для участка площадью:', '3-10 соток')
							+feature-line('Объём травосборника:', '40 л.')
							+feature-line('Привод колёс:', 'Нет')
							+feature-line('Диаметр передних колёс:', '7 "')
							+feature-line('Диаметр задних колёс:', '8 "')
							+feature-line('Шарикоподшипники в колёсах:', 'Да')
							+feature-line('Тип рукоятки:', 'Складная')
							+feature-line('Регулировка высоты кошения:', 'Центральная')
							+feature-line('Высота кошения:', '20-70 мм.')
							+feature-line('Боковой выброс:', 'Нет')
							+feature-line('Коннектор для мойки деки:', 'Нет')
						+e.col(class= wrapClass)
							+feature-line('Материал деки:', 'Сталь')
							+feature-line('Ширина кошения:', '430 мм.')
							+feature-line('Мощность двигателя:', '4 л.с.')
							+feature-line('Рабочий объём двигателя:', '99 см3')
							+feature-line('Диаметр передних колёс:', '7 "')
							+feature-line('Тип двигателя:', 'Бензиновый 4Т')
							+feature-line('Тип запуска:', 'Ручной стартер')
							+feature-line('Производитель двигателя:', 'TEAMAX')
							+feature-line('Экологический класс двигателя:', 'Euro II')
							+feature-line('Ёмкость топливного бака:', '68х51х43 мм.')
							+feature-line('Вес нетто:', '22 кг.')
				.tabs__content.active.unics
						+e.swiper--js.shadow-item
							+e.row.swiper-wrapper
								- const wrapClass="swiper-slide"
								+e.col(class= wrapClass)
									+feature-item('12', 'Защита растений', 'Специальная скоба защищает растения от повреждений при скашивании травы.')
								+e.col(class= wrapClass)
									+feature-item('13', 'Удобство работы', 'Телескопическая штанга и эргономичная d-образная ручка обеспечивают удобство работы.')
								+e.col(class= wrapClass)
									+feature-item('14', 'Экологичность', 'Благодаря работе от аккумулятора модель отличается низким уровнем шума, отсутствием вредных выхлопов и независимостью от источников электропитания.')
								+e.col(class= wrapClass)
									+feature-item('15', 'Безопасность', 'Специальный кожух защищает пользователя от попадания скошенной травы и мелких камней.')
								+e.col(class= wrapClass)
									+feature-item('12', 'Защита растений', 'Специальная скоба защищает растения от повреждений при скашивании травы.')
								+e.col(class= wrapClass)
									+feature-item('13', 'Удобство работы', 'Телескопическая штанга и эргономичная d-образная ручка обеспечивают удобство работы.')
								+e.col(class= wrapClass)
									+feature-item('14', 'Экологичность', 'Благодаря работе от аккумулятора модель отличается низким уровнем шума, отсутствием вредных выхлопов и независимостью от источников электропитания.')
								+e.col(class= wrapClass)
									+feature-item('15', 'Безопасность', 'Специальный кожух защищает пользователя от попадания скошенной травы и мелких камней.')

mixin sFeatures4(data)
	// start sFeatures
	+b.SECTION.sFeatures--slider.slider-2.section#sFeatures4&attributes(attributes)
		.container
			.tabs
				+b.section-title
					+img(src="img/info.png", alt="")
					.tabs-slider--js4.swiper
						.tabs__caption.swiper-wrapper
							.tabs__btn.swiper-slide.active Описание
							.tabs__btn.swiper-slide характеристики
							.tabs__btn.swiper-slide Особенности
				.tabs__content.descr.active
					+e.row.row
						+e.col.col-lg-6
							+e.item-colored Мотоблок Yanis Angry II – многофункциональный мотоблок для использования с различными видами дополнительного навесного оборудования. Мотоблок эффективен как с задним навесным оборудованием в виде окучника, плуга, картофелевыкапывателя так и с переднем навесным оборудованием в виде роторной газонокосилки, нож отвал или снегоотбрасывателя.
							+e.item Мотоблок рекомендован для использования на любом типе почвы. <br>К мотоблоку можно приобрести представленные у нас в широком ассортименте навесное оборудование, расходные материалы и приспособления. <br>При покупке мотоблока рекомендуется приобрести две банки моторного масла и две банки трансмиссионного масла.
							+e.item.fw-700 Мотоблок Yanis Angry II -<br>#[span оптимальный выбор дачника!]
						+e.col.col-lg-6
							+e.content
								ul
									li Мотоблок оснащён поворотной рукояткой, позволяющий выставить оптимальную высоту под любой рост пользователя. Ручки рукоятки прорезинены не проскальзывающим материалом.
									li Для работы в тяжелых условиях, в редукторе мотоблока установлена двойная цепь в чугунном корпусе.
									li Мотоблок имеет как заднее прицепное устройство универсального типа, так и переднее для подключения, например роторной газонокосилки.
									li Сцепление мотоблока устроено посредством двух ремней. А для того, чтобы при подключении переднего навесного оборудования не нужно было скидывать один из ремней сцепления, сделан дополнительный шкив под навесное оборудование.
									li В целях сохранения срока службы ремней сцепления, на мотоблоке установлен закрывающий шкив кожух. При необходимости подключения переднего навесного оборудования, защитный кожух легко откручивается.В комплекте с мотоблоком идут мощные разборные фрезы с шириной вспашки до 90 см. и пневмоколёса для использования мотоблока с тележкой.
									li Двигатель на мотоблоке произведён на заводе SENCI. Двигатели данного производителя уже много лет поставляются на российский рынок в комплектации мотоблоков под разными брендами и отличаются внушительным ресурсом и неприхотливостью к нашим условиям.
				.tabs__content.features
					+e.row.row
						- const wrapClass="col-lg-6"
						+e.col(class= wrapClass)
							+feature-line('Рекомендуется для участка площадью:','3-10 соток')
							+feature-line('Материал травосборника:', 'Ткань')
							+feature-line('Рекомендуется для участка площадью:', '3-10 соток')
							+feature-line('Объём травосборника:', '40 л.')
							+feature-line('Привод колёс:', 'Нет')
							+feature-line('Диаметр передних колёс:', '7 "')
							+feature-line('Диаметр задних колёс:', '8 "')
							+feature-line('Шарикоподшипники в колёсах:', 'Да')
							+feature-line('Тип рукоятки:', 'Складная')
							+feature-line('Регулировка высоты кошения:', 'Центральная')
							+feature-line('Высота кошения:', '20-70 мм.')
							+feature-line('Боковой выброс:', 'Нет')
							+feature-line('Коннектор для мойки деки:', 'Нет')
						+e.col(class= wrapClass)
							+feature-line('Материал деки:', 'Сталь')
							+feature-line('Ширина кошения:', '430 мм.')
							+feature-line('Мощность двигателя:', '4 л.с.')
							+feature-line('Рабочий объём двигателя:', '99 см3')
							+feature-line('Диаметр передних колёс:', '7 "')
							+feature-line('Тип двигателя:', 'Бензиновый 4Т')
							+feature-line('Тип запуска:', 'Ручной стартер')
							+feature-line('Производитель двигателя:', 'TEAMAX')
							+feature-line('Экологический класс двигателя:', 'Euro II')
							+feature-line('Ёмкость топливного бака:', '68х51х43 мм.')
							+feature-line('Вес нетто:', '22 кг.')
				.tabs__content.unics
						+e.swiper--js.shadow-item
							+e.row.swiper-wrapper
								- const wrapClass="swiper-slide"
								+e.col(class= wrapClass)
									+feature-item('12', 'Защита растений', 'Специальная скоба защищает растения от повреждений при скашивании травы.')
								+e.col(class= wrapClass)
									+feature-item('13', 'Удобство работы', 'Телескопическая штанга и эргономичная d-образная ручка обеспечивают удобство работы.')
								+e.col(class= wrapClass)
									+feature-item('14', 'Экологичность', 'Благодаря работе от аккумулятора модель отличается низким уровнем шума, отсутствием вредных выхлопов и независимостью от источников электропитания.')
								+e.col(class= wrapClass)
									+feature-item('15', 'Безопасность', 'Специальный кожух защищает пользователя от попадания скошенной травы и мелких камней.')
								+e.col(class= wrapClass)
									+feature-item('12', 'Защита растений', 'Специальная скоба защищает растения от повреждений при скашивании травы.')
								+e.col(class= wrapClass)
									+feature-item('13', 'Удобство работы', 'Телескопическая штанга и эргономичная d-образная ручка обеспечивают удобство работы.')
								+e.col(class= wrapClass)
									+feature-item('14', 'Экологичность', 'Благодаря работе от аккумулятора модель отличается низким уровнем шума, отсутствием вредных выхлопов и независимостью от источников электропитания.')
								+e.col(class= wrapClass)
									+feature-item('15', 'Безопасность', 'Специальный кожух защищает пользователя от попадания скошенной травы и мелких камней.')

	// end sFeatures