// start .sFeatures
.sFeatures {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	--sTPB: #{rem(112)};
  position: relative;

  .container {
    position: relative;
  }

  .icon-leaf {
    color: $gray-500;
    position: absolute;
    z-index: -1;
  }

  .icon-leaf:first-child {
    font-size: rem(200);
    left: rem(-120);
    top: rem(230);
  }

  .icon-leaf:nth-child(2) {
    font-size: rem(180);
    left: 43%;
    top: rem(180);
    transform: rotate(190deg);
  }

  .icon-leaf:nth-child(3) {
    font-size: rem(100);
    right: rem(-35);
    top: rem(500);
    transform: rotate(300deg);
  }

	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}

	.section-title {
		display: flex;
    align-items: flex-end;
    gap: rem(20);
    @include media-breakpoint-up(md) {
      gap: rem(50);
    }
    img {
      width: rem(100);
      border-radius: 50%;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 -4px 16px 0 rgba(0, 0, 0, 0.2);
      @include media-breakpoint-up(md) {
        width: rem(164);
      }
    }
	}
	&__col{
		
	}
	&__item{
		
	}

  h3 {
    position: relative;
    margin-bottom: rem(20);
    &::after {
      content: '';
      position: absolute;
      bottom: rem(-12);
      left: 0;
      width: 150px;
      height: rem(8);
      background: $primary;
    }
  }

  .tabs__caption {
    margin-bottom: rem(15);
  }

  .tabs__btn {
    width: max-content;
    font-family: 'open sans';
    padding: rem(10);
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(24);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 3px;
      left: rem(10);
      height: rem(3);
      width: calc(100% - 20px);
      background: transparent;
      transition: all .3s;
    }
    &.active::after {
      background: $primary;
    }
    &:hover::after {
      background: $primary;
    }
  }

  &__item-colored {
    padding: rem(20);
    color: $white;
    background: $gray-800;
    border-radius: $border-radius;
    margin-bottom: rem(20);
  }
  &__item {
    padding-left: rem(20);
    &:not(.fw-700) {
      padding-bottom: rem(55);
      color: $gray-700;
    }

    &.fw-700 {
      text-transform: uppercase;
      span {
        color: $primary;
      }
    }
  }

  &__content {
    li {
      color: $gray-700;
      margin-left: rem(20);
    }
  }

  .swiper {
    margin: 0;
  }

  .features {
    .row {
      @include media-breakpoint-up(lg) {
        --bs-gutter-x: #{rem(68)};
        max-width: rem(1100);
      }

    }
  }


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFeatures

.black-bg {
  --sPT: #{rem(110)};
  --sTPB: #{rem(50)};
  @include media-breakpoint-up(lg) {
    --sPT: #{rem(0)};
    --sTPB: #{rem(112)};
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: rem(51);
    width: 100%;
    background: $dark;
  }
}

.feature-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(10);
  flex-direction: column;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
    align-items: flex-end;
  }

  &__header {
    color: $gray-600;
  }

  &__dash {
    @include media-breakpoint-up(sm) {
      flex: 1 0;
      border-bottom: 1px dashed $gray-600;
      height: 1em;
      margin: 0 .4em;
    }
  }

  &__span {
    color: $gray-800;
    // width: 30%;
    @include media-breakpoint-up(sm) {
      width: 27%;
    }
  }
}

.shadow-item .feature-item__img-wrap .img {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1), 0 -4px 30px 0 rgba(0, 0, 0, 0.1);
}

.feature-item {
	display: flex;
	flex-direction: column;
	position: relative;

	&__img-wrap {
		@include block(1, 1);
    width: rem(180);
    margin-bottom: rem(30);
    @include media-breakpoint-up(md) {
      width: rem(230);
    }

    .img {
      border-radius: $border-radius;
      // box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1), 0 -4px 30px 0 rgba(0, 0, 0, 0.1);
    }
	}

	&__caption{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
    gap: rem(16);
	}

  &__title {
    font-size: rem(18);
    text-transform: uppercase;
  }

  &__text {
    color: $gray-600;
  }

  .icon-plus {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: $border-radius;
    box-shadow: 0 6px 12px 0 rgba(228, 45, 36, 0.3);
  }

  .icon-grass {
    position: absolute;
    fill: $gray-600;
    top: rem(-70);
    z-index: -1;
    left: rem(2);
  }

}

.feature-item.right {
  .icon-grass {
    right: rem(2);
    left: auto;
  }
}

.sFeatures--slider {

  @include media-breakpoint-down(md) {
    --sTPB: #{rem(70)};
  }

  .feature-item {
    max-width: rem(282);
  }

  .swiper-slide:not(.tabs__btn) {
    max-width: rem(200);
    @include media-breakpoint-up(md) {
      max-width: rem(282);
    }
  }
}

.swiper-button-next {
  transform: rotate(180deg);
}

.swiper-button-next, .swiper-button-prev {
  .icon {
    transition: all .3s;
  }
  &:hover {
    .icon {
      fill: $primary;
    }
  }
}