mixin sFeatures(data)
	// start sFeatures
	+b.SECTION.sFeatures.section#sFeatures&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sFeatures
				
			+e.row.row
	// end sFeatures