mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		+e.img-wrap.bg-wrap.bg
			+img(`img/about-bg.png`, 'bg')
		.container
			+e.descr-row.row
				+e.col.col-lg-6
					+e.brand-wrapper
						h2 yanis
						p – это канадский продукт, а Канада, не только кленовый сироп и хоккей, это страна с большими фермерскими традициями. Мы чтим традиции, ориентируемся на потребителя и до мелочей учитываем его пожелания.
					+e.phone.btn-link.fw-700(href='tel:+88003025648')
						+icon('phone')
						| 8-800-302-56-48
				+e.col.col-lg-6
					+e.descr-wrapper
						h3 Садовая техника и аксессуары
						p Мы производим востребованную и удобную в эксплуатации садовую технику, ориентируясь на требовательного потребителя, ценящего качество, удобство и сервис.
						p Продукция под брендом Yanis, это качественная продукция, производимая на современных производственных линиях в разных странах. Персонал предприятий сертифицирован по международной системе качества и имеет ряд экспертных оценок от иностранных коллег.
	// end sAbout

mixin sAbout2(data)
	// start sAbout
	+b.SECTION.sAbout--footer.section#sAbout-2&attributes(attributes)
		+e.img-wrap.bg-wrap.bg
			+img(`img/about-bg-2.png`, 'bg')
		.container
			+e.row.row
				+e.col.d-none.col-lg-4.d-lg-block
					+e.img-wrap.bg-wrap.phone
						+img("img/phone-bg.png", 'bg')
				+e.col.col.col-lg-6
					p Мы получаем сотни отзывов от наших клиентов с комментариями насколько легче стало жить и наслаждаться собственным домом, благодаря нашей технике
					h3 Наслаждайтесь и вы, <br>остальное мы возьмем на себя
				+e.col.col-auto.col-lg-2
					+img(src="img/stars.png", alt="").img-stars