mixin sContent()
	// start sContent
	+b.SECTION.sContent--another-dark.section#sContent&attributes(attributes)
		+e.img-wrap.bg-wrap.bg
			+img(`img/advantages-bg.png`, 'bg')
		.container
	// end sContent

mixin sContent2()
	// start sContent
	+b.SECTION.sContent--wide.section#sContent2&attributes(attributes)
		+e.img-wrap.bg-wrap.bg--big
			+img(`img/prod-bg.png`, 'bg')
		.container
	// end sContent