mixin product-item(i, t, p)
	+b.ARTICLE.product-item
		+e.img-wrap.bg-wrap
			+img(`img/prod-${i}.png`, 'bg')
		+e.caption
			+e.title.fw-600!= t
			+e.text.small!= p
	// /.product-item

mixin sCatalog(h2)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title
				h2 Каталог продукции
			+e.row.row
				- const wrapClass="col-6 col-lg-3"
				+e.col(class= wrapClass)
					+product-item(`1`,`Воздуходувки`,`для сдувания листьев и мелкого мусора`)
				+e.col(class= wrapClass)
					+product-item(`2`,`Газонокосилки`,`ваш газон всегда будет в полном порядке`)
				+e.col(class= wrapClass)
					+product-item(`3`,`Мотоблоки`,`мощные помощники в хозяйстве`)
				+e.col(class= wrapClass)
					+product-item(`4`,`Триммеры`,`эффективены для стрижки травы в труднодоступных местах`)

	// end sCatalog