// start .sCatalog
.sCatalog {
  position: relative;;
	--sPT: #{rem(110)};
	--sPB: #{rem(120)};
	--sTPB: #{rem(47)};

	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
    @include media-breakpoint-up(lg) {
      max-width: rem(1120);
    }
	}

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 10vw;
    background-image: url("../img/pattern-bg.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    top: 0;
    z-index: -1;
    max-height: rem(1430);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
    transform: rotate(180deg);
  }


	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog



.product-item {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;

	&__img-wrap{
		@include block(1, 1);
    width: rem(80);
    margin-bottom: rem(20);
    @include media-breakpoint-up(md) {
    width: rem(120);
    }
	}

	&__caption{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
    gap: rem(8);
	}

  &__text {
    color: $gray-600;
  }

}