// start .sProduct
.sProduct {
	--sPT: #{rem(110)};
	--sPB: #{rem(11)};
	--sTPB: #{rem(0)};
	background: $dark;
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	&__col{
		position: relative;
	}
	&__item{
		
	}

  h2, h3,
  p {
    color: $white;
  }

  h2 {
    margin-bottom: 0;
  }

  .section-title {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: calc(100% + rem(10));
      left: 0;
      width: rem(2);
      height: rem(30);
      background: $primary;
    }
  }

  .bg-wrap {
    max-width: rem(500);
    margin-top: rem(20);
    position: relative;
    z-index: 0;
    .leafs-3 {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  h3 {
    max-width: rem(450);
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(30);
    position: relative;
    z-index: 1;
    .img {
      position: absolute;
      right: 0;
      top: 26%;
      max-width: rem(110);
      z-index: -1;
    }
  }

  ul {
    background: $gray-300;
    padding: rem(20);
    border-radius: $border-radius;
    max-width: rem(460);
    margin-bottom: 0;
    position: relative;
  }

  li {
    color: $gray-700;
    margin-left: rem(20);
  }

  &__descr {
    color: $gray-500;
    span {
      font-weight: 600;
      color: $white;
    }
  }
  .breadcrumb-slider--js {
    margin-bottom: rem(16);
  }

  &--card {
    --sPT: #{rem(50)};
    --sPB: #{rem(80)};
    &>* {
      color: $white;
    }

    h3 {
      margin-bottom: rem(16);
      line-height: rem(48);
    }
    a {
      color: $gray-400;
    }
    .sProduct__content {
      gap: rem(20);
    }
    
    .reviews__stars {
      gap: rem(30);
      margin-bottom: rem(26);
    }
  }

  &__how-much {
    color: $primary !important;
  }
  &__footer-row {
    --bg-gutter-x: #{rem(40)} !important;
  }

  .content-wrapper {
    .sProduct__content {
      padding: rem(30) rem(20) rem(40) rem(40);
    }
    & > * {
      padding: rem(20);
      @include media-breakpoint-up(lg) {
        padding-left: rem(40);
      }
    }
    &> :nth-child(odd) {
      background: $gray-800;
      border-radius: rem(15);
    }
  }

  &__all-characteristics {
    display: inline-flex;
    gap: rem(12);
    align-items: center;
    .icon {
      transform: rotate(180deg);
      fill: $gray-800;
      color: $gray-800;
    }
    .icon-wrap {
      padding: rem(7) rem(13);
      background: $white;
      border-radius: 50%;
    }
  }

  &__s-img {
    align-items: center;
    display: flex;
    justify-content: center;
    // padding: 1.875rem;
    max-width: rem(500);
    img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      width: auto;
    }
    
  }

  // &__thumb-wrap {
  //   @include media-breakpoint-up(lg) {
  //     max-width: 90%;
  //   }
  // }
  &__row-product {
    --bs-gutter-y: var(--bs-gutter-x);
  }

  .sProdCard-thumb-js {
    img {
      width: rem(80);
      max-width: 80%;
      margin-left: 18%;
    }
    .slide-item-1 {
      margin: rem(20) rem(10);
    }
    .swiper-slide-thumb-active {
      .slide-item-1 {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          display: block;
          height: 150%;
          width: 100%;
          transform: translate(-50%, -50%);
          background-image: url("../img/active-mini.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          top: 50%;
          left: 50%;
          z-index: 2;
        }
      }
    }
  }

  .leafs-3 {
    position: absolute;
    top: 0;
    left: 4%;
    z-index: 10;
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProduct


.black-bg {
  position: relative;
  --sPB: #{rem(0)};
  @include media-breakpoint-up(lg) {

  }
  // --sTPB: #{rem(50)};
  // @include media-breakpoint-up(lg) {
  //   --sPT: #{rem(0)};
  //   --sTPB: #{rem(112)};
  // }
  &::before {
    content: '';
    position: absolute;
    bottom: rem(-65);
    left: 0;
    height: rem(65);
    width: 100%;
    background: $dark;
  }
}

.sProduct--work {
	--sPB: #{rem(50)};

  .section-title {
    display: flex;
    align-items: flex-end;
    gap: rem(20);
  }

  .icon-sunshine {
    fill: $gray-600;
    margin-bottom: 5px;
    @include media-breakpoint-down(md) {
      font-size: rem(50);
    }
  }

  .ul-wrap {
    position: relative;
  }

  .row {
    margin-bottom: rem(70);
  }

  .sProduct__content {
    margin-top: rem(50);
  }

  .icon-wheat {
    position: absolute;
    z-index: 0;
    bottom: calc( 100% - 1px);
    fill: $gray-600;
    right: rem(90);
    &:nth-child(2) {
      fill: $gray-500;
      right: rem(20);
    }
  }

  .sProduct__working {
    display: grid;
    grid-template-columns: minmax(290px, 350px);
    row-gap: rem(30);
    max-width: rem(917);
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1.54fr 2fr;
    }
  }

}

.work-card {
  display: flex;
  align-items: center;
  padding: 0 rem(10);
  gap: rem(10);
  border-left: rem(1) solid $primary;
  border-right: rem(1) solid $primary;
  @include media-breakpoint-up(sm) {
    padding: 0 rem(30);
    gap: rem(20);
  }

  @include media-breakpoint-up(md) {
    border-right: none;
  }
  &:nth-child(2n) {
    border-right: rem(1) solid $primary;
    @include media-breakpoint-up(lg) {
      border-right: none;
    }
  }
  @include media-breakpoint-up(lg) {
    border-right: none;
    &:nth-child(3n) {
      border-right: rem(1) solid $primary;
    }
  }

  .icon {
    fill: $gray-400;
    flex-shrink: 0;
    font-size: rem(36);
    @include media-breakpoint-up(md) {
      font-size: rem(56);
    }
  }

  &__text {
    color: $gray-600;
    max-width: rem(234);
  }
}

.sProduct {
  &--white {
    --sPB: #{rem(110)};
    position: relative;

    .sProduct__row{
      // --bs-gutter-x: #{rem()};
      --bs-gutter-y: #{rem(40)};
    }

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 9vw;
    background-image: url("../img/pattern-bg.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    bottom: 0;
    z-index: -5;
    // max-height: rem(1430);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
    transform: rotate(180deg);
    @include media-breakpoint-up(xl) {
    background-image: url("../img/green-bg.png");
    background-repeat: no-repeat;
    width: 40vw;
    background-size: cover;
    transform: rotate(0deg);
    }
  }
    background: transparent;
    .bg-wrap {
      max-width: rem(420);
      margin-top: 0;
    }
    .row {
      align-items: center;
    }
    .section-title h2 {
      color: $dark;
    }
    .sProduct__content {
      --padding: 30px;
      @include media-breakpoint-up(xl) {
        --padding: 60px;
        margin-left: rem(60);
      }
      // background: $dark;
      // padding: rem(30);
      // border-radius: 30px;
      position: relative;
      @include media-breakpoint-up(xl) {
        // border-radius: 30px 0 0 30px;
        // padding: rem(60);
      }
      &::after {
        content: "";
        position: absolute;
        background: $gray-800;
        top: calc( -1 * var(--padding));
        left: calc( -1 * var(--padding));
        width: 200%;
        @include media-breakpoint-up(xl) {
          width: 57vw;
        }
        height: calc(100% + 2 * var(--padding));
        z-index: -1;
        border-radius: 30px 0 0 30px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
      }
    }
  }
  .section-title {
    &__sub-title {
      font-size: rem(24);
      text-transform: uppercase;
      margin-bottom: rem(10);
    }
  }
  &__colored {
    background: $primary;
    color: $white;
    padding: rem(20);
    border-radius: $border-radius;
    max-width: rem(445);
    margin-bottom: 0;
    position: relative;
  }
  &__items-wrap {
    display: flex;
    gap: rem(10);
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  &__price {
    text-transform: uppercase;
    color: $white;
    font-size: rem(24);
  }

  .icon-snow {
    position: absolute;
    right: 13%;
    top: 12%;
    max-width: rem(110);
    z-index: 0;
    fill: $gray-400;
  }
}

.adv-item {
  display: flex;
  align-items: center;
  gap: rem(10);
  @include media-breakpoint-up(sm) {
    gap: rem(20);
  }
  &:first-child {
    max-width: rem(222);
  }
  &:last-child {
    max-width: rem(252);
  }

  .icon {
    fill: $gray-400;
    flex-shrink: 0;
    font-size: rem(36);
    @include media-breakpoint-up(md) {
      font-size: rem(56);
    }
  }

  &__text {
    color: $gray-600;
    max-width: rem(234);
  }

}


// .sProduct--work.black-bg {
//   --sPB: #{rem(0)};
// }
.tags-row {
  margin-bottom: rem(13);
  --bg-gutter-x: #{rem(0)};
  &__tag {
    display: flex;
    gap: rem(8);
    font-family: 'open sans';
    // color: $gray-400;
  }
  &__share-toggle {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	&__share-dropdown {
		display: none;
		background-color: #fff;
		top: 100%;
    color: $gray-400;
		//left: 0;
		right: 0;
		padding: rem(15);
		position: absolute;
		box-shadow: 0 5px 5px rgba($color: #000000, $alpha: .1);
		.ya-share2__list{
			display: flex;
		}
	}
}

.payment {
  &__item {
    img {
      margin-right: rem(10);
    }
  }
  &__col:not(:last-child) {
    border-right: rem(1) solid $gray-400;
  }
}

.char {
  color: $gray-400;
  &__val {
    color: $gray-700;
  }
}

.prodCard-buy {
  &__price {
    font-family: 'open sans';
    margin-bottom: rem(14);
  }
  &__bonus-row {
    display: flex;
    gap: rem(8);
    color: $gray-500;
    span {
      color: $primary;
      font-size: rem(16);
    }
  }
  &__discount {
    display: flex;
    gap: rem(16);
    align-items: center;
    margin-top: rem(7);
    .icon-wrap {
      padding: rem(8) rem(10);
      border-radius: 50%;
      background: $primary;
    }
  }
}

.descr {
  display: flex;
  gap: rem(30);
}