mixin sCards(data)
	// start sCards
	+b.SECTION.sCards.section#sCards&attributes(attributes)
		.container
			+e.cards-row.row
				+e.col.col-lg-4
					+advCard('quality', 'Качество', 'Современная техника от Канадского бренда с гарантией 3 года', '1')
				+e.col.col-lg-4
					+advCard('earth', 'Большой ассортимент', 'Продаем наше оборудование более чем в 38 стран по всему миру', '2')
				+e.col.col-lg-4
					+advCard('cheaper', 'Низкие цены', 'Оборудование продается напрямую с завода без посредников и диллеров', '3')
	// end sCards

mixin advCard(icon, title, descr, i)
	+b.adv-card
		+icon(`${icon}`)
		+e.title.fw-700!= title
		+e.description!= descr
		+icon(`grass`)
		+e.number!= i