mixin sCards(data)
	// start sCards
	+b.SECTION.sCards.section#sCards&attributes(attributes)
		.container
			+e.cards-row.row
				+e.col.col-lg-4
					+advCard('quality', 'Качество', 'Современная техника от Канадского бренда с гарантией 3 года', '1')
				+e.col.col-lg-4
					+advCard('earth', 'Большой ассортимент', 'Продаем наше оборудование более чем в 38 стран по всему миру', '2')
				+e.col.col-lg-4
					+advCard('cheaper', 'Низкие цены', 'Оборудование продается напрямую с завода без посредников и диллеров', '3')
	// end sCards

mixin advCard(icon, title, descr, i)
	+b.adv-card(data-aos="fade-down" data-aos-delay="300")
		+icon(`${icon}`)
		+e.title.fw-700!= title
		+e.description!= descr
		+icon(`grass`)
		+e.number!= i

mixin sCards2(data)
	// start sCards
	+b.SECTION.sCards2.section#sCards2&attributes(attributes)
		.container
			h3 Благодаря нашей технике клиенты
			+e.cards-row.row
				+e.col.col-lg-4
					+advCard('', 'Экономят более 200 часов', 'в год на уборке участка', '')
				+e.col.col-lg-4
					+advCard('', 'Добавляют эстетику', 'в свою жизнь, порядок и красоту', '')
				+e.col.col-lg-4
					+advCard('', 'Экономят силы и Энергию', 'которую можно направить то, что действительно важно', '')
	// end sCards